<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-white">
<div class="container">
 <img src="../assets/Images/group-2.png" alt="">

<!-- <div class="topnav" *ngIf="!isDisplay"> -->
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbaraid">
         <div class="hamburger"><img  src="../assets/Images/hamburger-square.svg" alt=""></div>
  </button>

<div class="collapse navbar-collapse" id="navbaraid">
<ul class="navbar-nav ml-auto text-center">

  <li class="nav-item ">
  <a href="#" class="nav-linkone" >HOME</a>
  </li>
  
  <li class="nav-item">
    <a href="#" class="nav-linkone">ABOUT US</a>
    </li>

  <li class="nav-item">
  <a href="#" class="nav-linkone">SERVICE</a>
  </li>

  <li class="nav-item">
  <a href="#" class="nav-linkone">CONTACT US</a>
  </li>

</ul>
</div>
</div>
</nav>

<!-- </div> -->
<!-- <button (click)="toggleDisplay()"> toggle</button> -->

<div class="wrapper">
  <section class="Rectangle"> 
    <div class="box">
      <h1 class="We-engineer-brillian">We engineer<br>
      brilliant<br>
      solutions
      </h1>
      <br>
      <span><img class="FirstImage" src="../assets/Images/cta.png" alt=""></span>
    </div>
    <section class="rectangletwo">
      <section class="rectangletwo1">
      </section>
    </section>
    

</section>
  <section class="rectanglethree">
    <div class="box upbox">
      <h1 class="We-are-Cloud-Experts">We are Cloud Experts<br>
      </h1>
      <br>
      <span>A team of cloud experts committed to provide exceptional tech solutions to complex problems with our expertise and favourite technology, with pleasure!  </span>
      <br>
      <span><img src="../assets/Images/Know.svg" alt=""></span>
    </div>
    <img class="Group-33"  src="../assets/Images/group-33.svg" alt="">
  </section>

  <section class="rectangleFour">
    <div class="box">
    <h4 class="What-can-we-do-for-y">What can we do for you</h4>
    <span class="We-strive-to-bring-t">We strive to bring the highest quality solutions with a fresh perspective focused on emerging technology</span>
    </div>
    <!-- <img class="impImg" src="../assets/Images/group-44.svg" alt=""> -->

    <div class="WrapSecbox "> 
    <div class="Secbox">
      <div class="card">
        <img class="card-img-top OneWrap" src="../assets/Images/services-cloud-services.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title Cloud-Services">Cloud Services</h5>
          <p class="card-text">We solve complex problems with our favourite technology.</p>
          <p class="More"> More </p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top OneWrap" src="../assets/Images/services-cyber-security.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title Cloud-Services">Cyber Security</h5>
          <p class="card-text">We solve complex problems with our favourite technology.</p>
          <p class="More"> More </p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top OneWrap" src="../assets/Images/services-software-testing.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title Cloud-Services">Software Testing</h5>
          <p class="card-text">We solve complex problems with our favourite technology.</p>
          <p class="More"> More </p>
        </div>
      </div>

    </div>
    </div>

    <div class="WrapSecbox Wrap-Sec-box-two"> 
      <div class="Secbox">
        <div class="card">
          <img class="card-img-top OneWrap" src="../assets/Images/services-data-analytics.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title Cloud-Services">Data Analytics & Insights</h5>
            <p class="card-text">We solve complex problems with our favourite technology.</p>
            <p class="More"> More </p>
          </div>
        </div>
  
        <div class="card">
          <img class="card-img-top OneWrap" src="../assets/Images/services-digital-solutions.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title Cloud-Services">Digital Solutions</h5>
            <p class="card-text">We solve complex problems with our favourite technology.</p>
            <p class="More"> More </p>
          </div>
        </div>
  
        <div class="card">
          <img class="card-img-top OneWrap" src="../assets/Images/services-managed-it-solutions.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title Cloud-Services">Managed IT Solutions</h5>
            <p class="card-text">We solve complex problems with our favourite technology.</p>
            <p class="More"> More </p>
          </div>
        </div>
  
      </div>
      </div>
  
  </section>

  <!----rectn5-->

  <section class="rectangleFive">
    <div class="box">
    <p class="engagement-model">PROCESS</p> 
    <h4 class="What-can-we-do-for-y">We mind the process!</h4>
    <span class="We-strive-to-bring-t">We strive to bring the highest quality solutions with a fresh perspective focused on emerging technology</span>
    </div>
    <!-- <img class="impImg" src="../assets/Images/group-44.svg" alt=""> -->

    <div class="WrapSecbox"> 

    <div class="Secbox WrapSecboxFive">
      <img class="arrow" src="../assets/Images/cursor.svg" alt="">
      <div class="card SecondCard" style="width: 18rem;">
        
        <div class="card-body">
          <span  class="Toptdot">&#8226;</span>
          <span  class="Bottomdot">&#8226;</span>
          <img  src="../assets/Images/process-req-gathering.svg" alt="Card image cap">
          <h5 class="card-title"><b>Requirement gathering</b></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card SecondCard" style="width: 18rem;">
        <div class="card-body">
          <span  class="Toptdot">&#8226;</span>
          <span  class="Bottomdot">&#8226;</span>
          <img  src="../assets/Images/process-resource-selection.svg" alt="Card image cap">
          <h5 class="card-title"><b>Resource selection</b></h5>
          <p class="card-text">A growing part of our business is focused on emerging tech.</p>
        </div>
      </div>

      <div class="card SecondCard" style="width: 18rem;">
        <div class="card-body">
          <span  class="Toptdot">&#8226;</span>
          <span  class="Bottomdot">&#8226;</span>
          <img  src="../assets/Images/process-proposal.svg" alt="Card image cap">
          <h5 class="card-title"><b>Proposal</b></h5>
          <p class="card-text">A growing part of our business is focused on emerging tech.</p>
        </div>
      </div>

    </div>
    </div>

    <div class="WrapSecbox Wrap-Sec-box-two"> 
      <div class="Secbox">
        <div class="card SecondCard" style="width: 18rem;">
          <div class="card-body">
            <img  src="../assets/Images/process-execution.svg" alt="Card image cap">
            <h5 class="card-title"><b>Execution</b></h5>
            <p class="card-text">A growing part of our business is focused on emerging tech.</p>
          </div>
        </div>
  
        <div class="card SecondCard" style="width: 18rem;">
          <div class="card-body">
            <img  src="../assets/Images/process-ci.svg" alt="Card image cap">
            <h5 class="card-title"><b>Continous improvement</b></h5>
            <p class="card-text">A growing part of our business is focused on emerging tech.</p>
          </div>
        </div>
  
        <div class="card SecondCard" style="width: 18rem;">
          <div class="card-body">
            <img  src="../assets/Images/process-contract.svg" alt="Card image cap">
            <h5 class="card-title"><b>Contract finalization</b></h5>
            <p class="card-text">A growing part of our business is focused on emerging tech.</p>
          </div>
        </div>
  
      </div>
      </div>
  </section>
<!-- rectangleSix -->

<section class="rectangleSix">
  <div class="box">
  <p class="engagement-model">Engagement Model</p>  
  <h2 class="We-offer-the-choice">We offer the choice</h2>
  <span class="We-strive-to-bring-t">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>

  <div class="WrapSecbox ">
    <div class="box upbox RecSixBox">
      <h1 class="We-are-Cloud-Experts">Full Time Model<br>
      </h1>
      <br>
      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        Lorem Ipsum is simply dummy text of.</span>
      <br>
      <p class="RecSixText">Part Time Model</p>
      <p class="RecSixText">Hybrid Model</p>
    </div>
    <img class="moon"  src="../assets/Images/moon.svg" alt="">
  </div>
  </div>
</section>


<!-- rectSix end -->
<!--- RectSeven-->

<section class="rectangleSeven">
  <div class="box upbox">
    <p class="engagement-model">COLLABORATE WITH US</p>  
    <h1 class="Have-an-idea-Hold-t">Have an idea? Hold that thought!
      We will reach out to you  <br>
    </h1>
    <br>
    <span><img class="Drop" src="../assets/Images/Drop.svg" alt=""></span>
  </div>

  <div class="box upbox box2">
    <p class="engagement-model">We are looking for talents</p>  
    <h1 class="Have-an-idea-Hold-t">Do you have the same passion and love for technology like we do?<br>
    </h1>
    <br>
    <span><img class="join" src="../assets/Images/Join.svg" alt=""></span>
  </div>

</section>

<section class="rectangleEight">
  <div class="maindiv">
  <div class="div1">  
    <p class="We-engineer">We engineer brilliant solutions</p>
    <span class="Know-More rect"> Let's Collaborate  &nbsp;&nbsp;&#8594;</span>

    <div class="div2">
      <p class="LOCATION">LOCATION</p>
      <p ><span class="text">Need the office<br> Address here.</span> 
      <span class="text2">Need the office Address here.</span>
      </p>
      <p>
      <span class="Atext">Australia</span> <span class="Atext2">Australia</span>
      </p>    
    </div>
  </div>

  <div class="div1">  
    <p class="LOCATION">LINKS</p>
    <div class="div2 ">
      <p class="text ">Home</p>
      <p class="text">About Us</p>
      <p class="text">Services</p>    
      <p class="text">Process</p>
      <p class="text">Partners</p>
      <p class="text">Career</p>
      <p class="text">Blogs</p>
      <p class="text">Contact Us</p>
    </div>
  </div>
  

  <div class="div1">  
    <p class="LOCATION">SERVICES</p>
    <div class="div2 ">
      <p class="text ">Cloud Services</p>
      <p class="text">Cyber Security</p>
      <p class="text">Software Testing</p>    
      <p class="text">Digital Solutions</p>
      <p class="text">Analytics, Insights & Data</p>
      <p class="text">Managed IT Services</p>
    </div>
  </div>

  <div class="div1">  
    <p class="Social-media">SOCIAL MEDIA</p>
    <span class="shape2"><span class="shape1"></span></span>
    <div class="div2">
      <p class="LOCATION">CONTACT</p>
      <p ><span class="text1"> <img class="ph1" src="../assets/Images/phone.svg" alt=""> </span> 
      <span class="ph2"> 9898989898</span>
      </p>
      
      <p ><span class="text1"> <img class="ph1" src="../assets/Images/email.svg" alt=""> </span> 
        <span class="ph2">  email@synnfo.com</span>
        </p>
    </div>
  </div>


</div>
  
</section>



<!--- -->
</div>
</body>
</html>